.dashboard {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 50px;
}

.chart-row {
    display: flex;
    gap: 0px;
}
 /*Keeps charts same size*/
.chart {
    flex: 1;
}

/*Formats based on screen size*/
@media screen and (max-width: 768px) {
    .chart-row {
        flex-direction: column;
    }
}

.project-section {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.project-header {
  width: 100%;
  background: none;
  border: none;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.project-body {
  padding: 1rem;
  border-top: 1px solid #eee;
}

.tech-stack {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tech-stack li {
  background: #7fa6eea8;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  font-size: 0.85rem;
}
